<head>
<%- include('../partials/head')  %> 
<title>Edit Table</title>
</head>

<body>
    <%- include('../partials/header')  %> 
    <main>
        <div id = "byModel">
            <p> Techs Table</p>
           
            </div>
        <table class = "content-table">
            <thead>
                <tr>
                    <th>Tech Name</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wendsday</th>
                    <th>Thursday</th>
                    <th>Firday</th>
                    <th>Saturday</th>
                </tr>

            </thead>
            <tbody>
                <form method = "POST" action = "/tables/update" > 
                <% for( let itech = 0; itech < data.length; itech++ ) { %>
                <tr>
                    <th>
                   <%= data[itech].name %>
                    </th>
                    <% for( let ih = 0; ih < data[itech].horarios.length; ih++ ) { %>
                        <th>
                       <input placeholder=" <%= data[itech].horarios[ih]  %>" value=" <%= data[itech].horarios[ih]  %>" name = "[<%=itech%>,<%=ih%>]"> 
                        </th>
                    <% } %>
               </tr>
            <% } %>
            </tbody>
        </table>
        <button type="submit">Guardar</button>
    </form>

    </main>

    <%- include('../partials/footer')  %> 

</body>