<head>
<%- include('../partials/head')  %> 
<title>Profile</title>
</head>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class = "center">
        <i class="fas fa-user"></i>
        </div>
        <div class = profile>
        <h1>Hey <%= locals.userLogged.username  %></h1>
        <div class  ="userinfo">
            <img src = "/images/avatars/<%= locals.userLogged.avatar%>" width="100px">
            <h2>Email: <%= locals.userLogged.email  %> </h2>
            <h2>Rol:  <%= locals.userLogged.usertype  %></h2>
        </div>
            </div>
    </main>
    <%- include('../partials/footer') %>


</body>