<head>
    <%- include('../partials/head/') %>
    <title>Car search</title>
</head>


<body>
    <%- include('../partials/header') %> 
    <main>
        <div id = "byCar">
        <p>Select car make</p>
        <a href ="/search/addCar"><i class="fas fa-plus"></i></a>
        </div>
        <section class = "blocks">

            <% if (autos.length ==0) { %>
             <h1>Autos aun esta vacio</h1>
            <% } 
            else { %>
            <% for( let i = 0; i < autos.length; i++ ) { %>
            <article class = "block">
                <h1><%= autos[i].nombre %></h1>
                <img src = "/images/cars/logos/<%= autos[i].imagen %>" alt = "logo marca" width="133px">
            </article>
            <% } %>
            <% } %>


        </section>


        
    </main>
    <%- include('../partials/footer') %> 
</body>